{% extends "base.html" %}
{% block title %} - Главная{% endblock %}
{% block content %}
        <div id="container">
            <div class="title">
                <h1>POST request with Flask</h1>
            </div>
            <div id="content">
                <form method="post" action="{{ url_for('rate') }}">
                  <label for="yourname">ID курса</label>
                  <input type="text" name="id_course" /><br />
                  <label for="youremail">ID пользователя</label>
                  <input type="text" name="id_user" /><br />
                  <input type="submit" />
                </form>
            </div>
            </div>
          {% endblock %}